@import url('https://fonts.googleapis.com/css2?family=Russo+One&family=Ubuntu&display=swap');

.logo {
    font-family: "Russo One";
    font-size: 22px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Russo One";
    font-weight: 300;
    color: #333;
}

p {
    font-family: "Ubuntu";
    font-size: 20px;
    text-align: justify;
    text-indent: 2em;
}

h1 {
    margin-top: 30vh;
    font-size: 50px;
    font-weight: 300;
    letter-spacing: 3px;
    text-transform: uppercase;
}

#headerwrap {
    text-align: center;
    position: relative;
    width: 100%;
}

.centered {
    text-align: center;
}

.row {
    margin: 0;
}

body {
    overflow-y: hidden;
}

nav {
    z-index: 1000;
    box-shadow: 0 3px 3px 0 rgb(0 0 0 / 50%);
}

.nav-item {
    margin-left: 5px;
    margin-right: 5px;
}

button:hover:before,
a.nav-link:hover:before {
    top: 0%;
    bottom: auto;
    height: 99%;
    border-radius: 5px;
}

button {
    z-index: -2;
    color: #333 !important;
}

button:before,
a.nav-link:before {
    display: block;
    position: absolute;
    left: 0px;
    bottom: 0px;
    height: 0px;
    width: 100%;
    z-index: -1;
    content: '';
    color: #000 !important;
    background: #a29bfe;
    transition: all 0.4s cubic-bezier(0.215, 0.61, 0.355, 1) 0s;
    border-radius: 5px;
}

button,
a.nav-link {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    text-align: center;
    text-decoration: none;
    text-shadow: 0 -1px 1px #777;
    color: #fff;
    outline: none;
    border: 2px solid #a29bfe;
    border-radius: 5px;
    box-shadow: 0 0 0 60px rgba(0, 0, 0, 0) inset, .1em .1em .2em #777;
}

button:active,
a.nav-link:active {
    top: .1em;
    left: .1em;
    box-shadow: 0 0 0 60px rgba(0, 0, 0, .05) inset;
}

button {
    text-shadow: none;
}

.pagination {
    position: absolute;
    display: flex;
    top: 50%;
    right: 50px;
    transform: translate(0, -65%) !important;
    flex-direction: column;
}

.bullet {
    width: 15px;
    height: 15px;
    background-color: rgba(0, 0, 0, 0.5);
    cursor: pointer;
    border-radius: 50%;
    -webkit-transition: background-color 0.3s ease 0s;
    -o-transition: background-color 0.3s ease 0s;
    transition: background-color 0.3s ease 0s;
    margin: 10px 0;
}

.bulletActive {
    background-color: green;
}

.scroll {
    position: absolute;
    top: 0;
    right: 0;
    width: 4px;
    height: 100vh;
    transform: translate(0, -60px);
}

.drag_scroll {
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 10001;
}

.main {
    background: linear-gradient(-40deg, #86C5FC 0%, #E8C3FD 100%);
}

.main_slider {
    position: fixed;
    width: 100%;
    height: calc(100% - 60px);
}

.wrapper_slider {
    display: flex;
    flex-direction: column;
    min-height: 100%;
}

.body_bg {
    position: relative;
    width: 100%;
    height: calc(100% - 60px);
}

.body_bg ul li {
    font-family: "Ubuntu";
    font-size: 20px;
}
.body_bg ol li {
    font-family: "Ubuntu";
    font-size: 20px;
}

.white_bg {}

.f7_bg {
    background-color: #f3f3f3;
}

.main_center {
    width: 76%;
    padding: 25px 0;
    margin: 0 auto;
}

.double_block {
    display: flex;
    margin: 30px 0;
}


.img_left,
.img_right {
    transition: 1.5s;
    width: 400px;
    margin-bottom: 25px;
}

.img_left {
    margin-right: 25px;
    float: left;
}

.img_right {
    margin-left: 25px;
    float: right;
}

.navbar-brand img {
    margin-right: 0;
    transition: 0;
    width: auto;
}

img:hover {
    transform: scale(1.10);
}

.navbar-brand img {
    transform: none;
}


.text_left {
    margin-right: 40px;
    width: 76%;
    padding: 25px 0;
}

.text_center {}

.text_right {
    margin-left: 40px;
    width: 76%;
    padding: 25px 0;
}

.grid {
    position: relative;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-gap: 0 1.6rem;
    align-items: center;
    margin-right: 1rem;
    margin-left: 1rem;
}

.grid_object {
    position: relative;
    text-decoration: none;
    height: 16rem;
    overflow: hidden;
    padding: 1rem 0.6rem;
    box-shadow: 0 32px 32px 0 rgb(0 0 0 / 12%);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background: linear-gradient(90deg, #cfecd0, #ffc5ca);
    background-size: cover;
    justify-content: space-between;
    transition: transform 450ms ease-in-out 0ms;
    border-radius: 8px;
    color: #212529;
}

.o1 {
    grid-column: 1/span 4;
}

.o2 {
    grid-column: 5/span 4;
}

.o3 {
    grid-column: 9/span 4;

}

.o4 {
    grid-column: 3/span 4;
    margin-top: 1.5em;
}

.o5 {
    grid-column: 7/span 4;
    margin-top: 1.5em;
}


@media screen and (max-width: 960px) {
    .grid_object {
        height: 12rem;
    }

    .o1 {
        grid-column: 1/span 6;
    }

    .o2 {
        grid-column: 7/span 6;
    }

    .o3 {
        grid-column: 2/span 6;
        margin-top: 1.5em;
    }

    .o4 {
        grid-column: 8/span 6;
        margin-top: 1.5em;
    }

    .o5 {
        grid-column: 5/span 6;
        margin-top: 1.5em;
    }

}

@media screen and (max-width: 500px) {
    .grid {
        display: flex;
        flex-direction: column;
    }

    .grid_object {
        height: auto;
        padding: 2rem 1rem;
    }

    .grid_object h5 {
        margin-bottom: 2rem;
    }

    .o1,
    .o2,
    .o3,
    .o4,
    .o5 {
        width: 100%;
        margin-top: 1rem;
    }
}

.grid_object:hover {
    text-decoration: none;
    color: #212529;
}

.grid_object::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #F2F2F2;
    transition: height 450ms cubic-bezier(0.8, 0, 0.2, 1);
}

.grid_object h5 {
    position: relative;
    z-index: 1;
}

.grid_object p {
    position: relative;
    z-index: 1;
    text-indent: 0;
}

@media (hover: hover) {
    .grid_object:hover {
        transform: scale3d(0.95, 0.95, 0.95);
        transition: transform 550ms ease-in-out 0ms;
    }

    .grid_object:hover:before {
        height: 0;
        transition: height 550ms cubic-bezier(0.8, 0, 0.2, 1);
    }
}

.bg_communism {
    background: url("../images/bg_communism.jpg");
    background-size: cover;
}

.bg_venus {
    background: url("../images/venus.jfif");
    background-size: cover;
}

.bg_venus h1 {
    color: white;
    text-shadow: 0px 2px 0 rgb(0, 0, 0), 0px -2px 0 rgb(0, 0, 0), 2px 0px 0 rgb(0, 0, 0), -2px 0px 0 rgb(0, 0, 0), 2px 2px 0 rgb(0, 0, 0), 2px -2px 0 rgb(0, 0, 0), -2px 2px 0 rgb(0, 0, 0), -2px -2px 0 rgb(0, 0, 0);
}

.bg_desc {
    background: url("../images/bg_city.jpg");
    background-size: cover;
}

.bg_desc h1 {
    color: white;
    text-shadow: 0px 2px 0 rgb(0, 0, 0), 0px -2px 0 rgb(0, 0, 0), 2px 0px 0 rgb(0, 0, 0), -2px 0px 0 rgb(0, 0, 0), 2px 2px 0 rgb(0, 0, 0), 2px -2px 0 rgb(0, 0, 0), -2px 2px 0 rgb(0, 0, 0), -2px -2px 0 rgb(0, 0, 0);
}
